name: Create fixed curl branch

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'  # Runs at 00:00 UTC every day

jobs:
  create-branch:
    runs-on: ubuntu-latest

    steps:
    - name: Install Git
      run: sudo apt-get update && sudo apt-get install git -y

    - name: Configure Git
      run: |
        git config --global user.name "GitHub Actions"
        git config --global user.email "actions@github.com"

    - name: Create New Branch from Curl
      run: |
        BRANCH_NAME="$(date +'%Y%m%d')/ci"
        git clone https://github.com/curl/curl.git curl_temp
        cd curl_temp
        git checkout -b $BRANCH_NAME

        sed -i '/size_t hostname_len = strlen(hostname);/,/}/d' lib/hostip.c

        git add .
        git commit -m "Apply fixes"
        
        # Push to your repository
        git remote set-url origin https://kumitterer:${{ secrets.PAT }}@github.com/kumitterer/curl-test.git
        git push -u origin $BRANCH_NAME
